[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.43.0"
grpcio-tools = "==1.43.0"
grpc = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.8"
